In [15]:
import math
import numpy as np
import pandas as pd

# Formula = [P(outcome1)log2 P(outcome1) + P(outcome2)log2 P(outcome2)]
def entropy(p):
    H = np.array([-i*np.log2(i) for i in p]).sum()
    return H

In [ ]:
def probability()

In [16]:
p = [.5, .5]
test = entropy(p)
print(test)

1.0

In [20]:
data = pd.read_csv('./Notebooks/Datasets/tennis.txt', delimiter="\t", header=None, names=['a', 'b', 'c', 'd', 'e'])
print(data)

           a     b       c       d    e
1      Sunny   Hot    High    Weak   No
2      Sunny   Hot    High  Strong   No
3   Overcast   Hot    High    Weak  Yes
4       Rain  Mild    High    Weak  Yes
5       Rain  Cool  Normal    Weak  Yes
6       Rain  Cool  Normal  Strong   No
7   Overcast  Cool  Normal  Strong  Yes
8      Sunny  Mild    High    Weak   No
9      Sunny  Cool  Normal    Weak  Yes
10      Rain  Mild  Normal    Weak  Yes
11     Sunny  Mild  Normal  Strong  Yes
12  Overcast  Mild    High  Strong  Yes
13  Overcast   Hot  Normal    Weak  Yes
14      Rain  Mild    High  Strong   No

In [27]:
from sklearn import preprocessing
#label encoding

def label_encoding(df):
    data_encoded = df.apply(preprocessing.LabelEncoder().fit_transform)
    return data_encoded

In [ ]:
#hot encoding

def hot_encoding(data_encoded):
    one_hot_encoder = OneHotEncoder(data_encoded)
    X = one_hot_encoder.fit_transform(X).toarray()

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
import pydotplus

encoded_data = label_encoding(data)

clf = DecisionTreeClassifier(category="entropy", max_depth=3)
clf.fit(encoded_data[['a', 'b', 'c', 'd']], encoded_data['e'])

dot_data = export_graphviz(clf, out_file=None, feature_names=['Outlook', 'Temp.', 'Humidity', 'Wind'])

# Draw graph
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_png('tennis_tree.png')

ImportError: No module named pydotplus

In [32]:
df = pd.read_csv('./Notebooks/Datasets/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
#do label encoding

#do one hot encoding